{% extends 'base.html.twig' %}

{% block title %}Les Argonautes{% endblock %}

{% set counterCrew = ( counter | default(0) ) %}

{% block body %}
    <main> 
        <!-- New member form -->
        <div id="addArgo">
            <h2>Ajouter un(e) Argonaute</h2>
            {{form_start(formArgonaute)}}
                {{form_row(formArgonaute.name, {
                    label: 'Nom de l\'Argonaute'
                }) }}    
                <button type="submit">
                    Envoyer
                </button>    
            {{form_end(formArgonaute)}}
        </div>
        
        <!-- Member list -->
        <div id="crewMembers">
            <h2>Membres de l'équipage</h2>
            {% for message in app.flashes('success') %}
                <div class="success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('delete') %}
                <div class="success">
                    {{ message }}
                </div>
            {% endfor %}


            <section id="listmembers">
                {% for argonaute in argonautes %}
                    {% set counterCrew = counterCrew + 1 %}
                     {# {% set counter = ( counter | default(0) ) + 1 %} #}

                    <div class="card">
                        <p>{{argonaute.name}}</p>

                        <form action="{{path('app_home_deleteArgonaute',{'id': argonaute.id})}}" 
                        method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="csrf_token" value="{{csrf_token('argonaute_delete_'~ argonaute.id)}}">
                            <button class="trash">
                                <i class="fas fa-trash-alt"></i>  
                            </button>
                        </form> 
                    </div>         
                {% endfor %}
            </section>
        </div>
        <div id="counter">
            {% if counterCrew == 0 %}
                <p>Rentrez le nom du premier Argonaute à rejoindre l'équipage!</p>
            {% else %}     
                <p>{{ counterCrew }} Argonaute{% if counterCrew > 1 %}s{% endif %} dans l'équipage</p>
            {% endif %}
        </div>
    </main>
{% endblock %}
