{% extends 'base.html.twig' %}

{% block title %}Les Argonautes{% endblock %}

{% block body %}
    <main> 
        <!-- New member form -->
        <div id="addArgo">
            <h2>Ajouter un(e) Argonaute</h2>
            {{form_start(formArgonaute)}}
                {{form_row(formArgonaute.name, {
                    label: 'Nom de l\'Argonaute'
                }) }}    
                <button type="submit">
                    Envoyer
                </button>    
            {{form_end(formArgonaute)}}
        </div>
        
        <!-- Member list -->
        <div id="crewMembers">
            <h2>Membres de l'équipage</h2>
            {% for message in app.flashes('success') %}
                <div class="addSuccess">
                    {{ message }}
                </div>
            {% endfor %}


            <section id="listmembers">
                {% for argonaute in argonautes %}
                    <div class="card">
                        <p>{{argonaute.name}}</p>
                    </div>         
                {% endfor %}
            </section>
        </div>
    </main>
{% endblock %}
