{% extends 'base.html.twig' %}

{% block title %}Les Argonautes{% endblock %}

{% block body %}
    <main> 
        <!-- New member form -->
        <div id="addArgo">
            <h2>Ajouter un(e) Argonaute</h2>
            {{form_start(formArgonaute)}}
                {{form_row(formArgonaute.name, {
                    label: 'Nom de l\'Argonaute'
                }) }}    
                <button type="submit">
                    Envoyer
                </button>    
            {{form_end(formArgonaute)}}
        </div>
        
        <!-- Member list -->
        <div id="crewMembers">
            <h2>Membres de l'équipage</h2>
            {% for message in app.flashes('success') %}
                <div class="success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('delete') %}
                <div class="success">
                    {{ message }}
                </div>
            {% endfor %}


            <section id="listmembers">
                {% for argonaute in argonautes %}
                    <div class="card">
                        <p>{{argonaute.name}}</p>

                        <form action="{{path('app_home_deleteArgonaute',{'id': argonaute.id})}}" 
                        method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="csrf_token" value="{{csrf_token('argonaute_delete_'~ argonaute.id)}}">
                            <button>
                                Supprimer  
                            </button>
                        </form> 
                    </div>         
                {% endfor %}
            </section>
        </div>
    </main>
{% endblock %}
